{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Y8plusplus - {% block title %}{% endblock %}</title>
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rancho&effect=anaglyph"
    />
    <!-- Fonts -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Reset style -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/utils.css' %}" />
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}" />
    {% block styles %}{% endblock %}

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Monoton&display=swap");
    </style>
  </head>
  <body>
    <div class="user-field">{% block content %} {% endblock %}</div>
  </body>
</html>
