.window__content__form p select {
  padding: 0 0.4em;
  height: 2.2em;
}

.window__content__form p select::after {
  content: "\25BC";
  position: absolute;
  display: block;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}

.window__content__form :nth-child(8) {
  margin: 0;
}

.window__content__form p input[type="file"] {
  line-height: 1.5;
  height: 4em;
}

.django-ckeditor-widget {
  text-shadow: none;
}
