<!-- prettier-ignore  -->
{% extends "core/base.html" %} 
{% block title %}List of games{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'core/css/game_list.css' %}" />
{% endblock %}

<!-- prettier-ignore  -->
{% block content %}
<div class="games__wrapper">
  <div class="brand glitch-2">
    <div class="font-effect-anaglyph glitch-2__shadow">Y8++</div>
    <div class="font-effect-anaglyph glitch-2__shadow">Y8++</div>
    <div class="font-effect-anaglyph glitch-2__shadow">Y8++</div>
    <div class="font-effect-anaglyph glitch-2__shadow">Y8++</div>
    <div class="font-effect-anaglyph glitch-2__shadow">Y8++</div>
  </div>
  <div class="games">
    {% for game in games %}
    <a class="game" href="{% url 'game' game.id %}">
      <span class="game--hover"></span>
      <div class="game__wrapper">
        <img class="game__thumb" src="{{ game.get_thumbnail }}" alt="Game" />
        <span class="game__name__decor">
          <span class="game__name">{{ game.name }}</span>
        </span>
        <span class="game__description--scroll">
          <span class="game__description">
            <p>{{ game.description|safe }}</p>
          </span>
        </span>
        <span class="game__categories">Tag: {{ game.genre }}</span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
