<!-- prettier-ignore  -->
{% extends "layout/window.html" %} 
{% block title %}{{template_name}}{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'core/css/game_publish.css' %}" />
{% endblock %}

<!-- prettier-ignore  -->
{% block header %}{{template_name}}{% endblock %}

{% block content %}
<form method="POST" action="" class="window__content__form">
  {% csrf_token %} {{form.media}} {{form.as_p}}
  <input type="submit" value="Submit" />
</form>
{% endblock %}
