.game__wrapper {
  --game-color: var(--red-color-4);
  width: 75%;
  height: 8em;
  margin-bottom: 2.5em;
  position: relative;
  border: 0.1em solid var(--game-color);
  border-radius: 4px;
}

.game {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--red-color-l2);
}

.game:hover {
  color: white;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
  background: var(--game-color);
  box-shadow: inset 0 0 0.5em 0 var(--game-color), 0 0 1.5em 0 var(--game-color);
  transition: 0.2s ease-in;
}

.game__thumb {
  display: inline-block;
  position: relative;
  width: 20%;
  min-width: 12em;
  height: 100%;
  background-size: cover;
  border-radius: 2px 0 0 2px;
}

.game__content {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 1em;
  height: 100%;
  font-size: 1.5em;
  font-weight: 600;
}

.game__name {
  display: inline-block;
}

.game__categories {
  display: inline-block;
}

.game__update-btn,
.game__remove-btn {
  display: block;
  padding: 0.3em;
  width: 20%;
  height: 2em;
  position: absolute;
  right: 0;

  color: white !important;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;

  background: var(--red-color-l2);
  border: var(--game-color) solid 0.07em;
  border-radius: 4px;
  outline: none;

  transition: 0.2s ease-in;
}

.game__update-btn {
  top: 0;
  transform: translate(110%, 10%);
}

.game__remove-btn {
  bottom: 0;
  transform: translate(110%, -10%);
}

.game__update-btn:hover,
.game__remove-btn:hover {
  color: white;
  background: var(--game-color);
  box-shadow: inset 0 0 0.5em 0 var(--game-color), 0 0 0.5em 0 var(--game-color);
}
