.gameplay__wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.gameplay {
  display: flex;
  flex-direction: column;
  padding: calc(var(--header-height)) 0 16em 0;
  width: 72em;
  max-width: 100%;
  min-height: 100%;

  background: var(--pink-color-l4);
  overflow-y: scroll;
}

.gameplay::-webkit-scrollbar {
  display: none;
}

.game__title {
  --game-title-color: var(--pink-color-5);
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 1.5rem 0.5em;

  font-family: "Monoton";
  color: var(--game-title-color);
  text-align: center;
  font-size: 3.5em;
  white-space: nowrap;
  letter-spacing: 0.3em;

  background: none;
  cursor: default;
}

.glowing-text {
  margin-right: -0.5em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--game-title-color);
}

.game__title:hover {
  color: #ffffff;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;

  background: var(--pink-color-l5);
  box-shadow: inset 0 0 0.5em 0 var(--pink-color-5),
    0 0 0.5em 0 var(--pink-color-5);
}

.game__window {
  position: relative;
  display: block;
  width: 100%;
}

.game__window iframe {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.game__window__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  margin: 4em 0;
  overflow: hidden;
}

.game__information {
  --text-shadow-color: var(--pink-color-1);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--text-shadow-color);
}

.game__describe {
  padding: 1.5em;
  padding-top: 0;

  color: #ffffff;
  font-size: 1.5em;
}

.game__more-info__header {
  display: block;
  padding-bottom: 0.5em;

  color: white;
  font-size: 2em;
}

.game__more-info__content {
  display: flex;
  align-items: flex-start;
  width: 90%;
  padding: 0.5em;

  color: #ffffff;
  background-color: var(--pink-color-l5);
}

.game__more-info__content__header {
  display: block;
  flex: 20;
  padding-right: 0.5em;
  min-width: 4em;

  font-size: 1.5em;
  font-weight: 800;
  text-align: right;
}

.game__more-info__content__text {
  display: block;
  flex: 80;
  font-size: 1.5em;
}
