.gameplay__wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}

.gameplay {
  display: flex;
  flex-direction: column;
  width: 72em;
  max-width: 100%;
  min-height: 100%;
  padding: calc(var(--header-height)) 0 16em 0;

  background: var(--pink-color-l4);
  overflow-y: scroll;
}

.gameplay::-webkit-scrollbar {
  display: none;
}

.game__title {
  --game-title-color: var(--pink-color-5);
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 1.5rem 0.5em;

  font-family: "Monoton";
  color: var(--game-title-color);
  text-align: center;
  font-size: 3.5em;
  white-space: nowrap;
  letter-spacing: 0.3em;

  background: none;
  animation: border-flicker 2s linear infinite;
  cursor: default;
}

.glowing-text {
  margin-right: -0.5em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--game-title-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.game__title:hover {
  color: #ffffff;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;

  background: var(--pink-color-l5);
  box-shadow: inset 0 0 0.5em 0 var(--pink-color-5),
    0 0 0.5em 0 var(--pink-color-5);

  animation: none;
}

.game__title:hover .glowing-txt {
  animation: none;
}

.game__title:hover .faulty-letter {
  text-shadow: none;
  opacity: 1;
  animation: none;
}

.game__window {
  position: relative;
  display: block;
  width: 100%;
}

.game__window iframe {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.game__window__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  margin: 4em 0;
  overflow: hidden;
}

.game__information {
  --text-shadow-color: var(--pink-color-1);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--text-shadow-color);
}

.game__describe {
  padding: 1.5em;
  padding-top: 0;

  color: #ffffff;
  font-size: 1.5em;
}

.game__more-info__header {
  display: block;
  padding-bottom: 0.5em;

  color: white;
  font-size: 2em;
}

.game__more-info__content {
  display: flex;
  align-items: flex-start;
  width: 90%;
  padding: 0.5em;

  color: #ffffff;
  background-color: var(--pink-color-l5);
}

.game__more-info__content__header {
  display: block;
  padding-right: 0.5em;
  min-width: 4em;
  flex: 20;

  font-size: 1.5em;
  font-weight: 800;
  text-align: right;
}

.game__more-info__content__text {
  display: block;
  font-size: 1.5em;
  flex: 80;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
