@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.user-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  background: url("../img/start_screen.jpg");
  background-size: cover;
  background-position: center;
  user-select: none;
}

.user-field__window {
  --login-theme-color: var(--purple-color-2);
  --text-shadow-color: var(--pink-color-2);
  width: 56em;
  max-width: 100%;
  height: 32em;
  max-height: 100%;
  position: relative;

  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--text-shadow-color);

  border-radius: 8px;
  overflow: hidden;
}

.user-field__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: url("../img/login_window.png");
  background-size: cover;
  background-position: center;

  font-family: "Monoton", cursive;
  font-size: 2em;
  text-align: center;
}

.user-field__form {
  position: relative;
  height: 100%;
  background: var(--purple-color-l3);
}

.user-field__header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.5em;
  font-weight: bold;
}

.user-field__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;

  height: 70%;
  overflow-y: scroll;
}

.user-field__input::-webkit-scrollbar {
  display: none;
}

.user-field__input > p {
  position: relative;
  width: 80%;
  margin-top: 1.5em;
}

.user-field__input p label {
  position: absolute;
  top: -0.5em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--text-shadow-color);
}

.user-field__input p input {
  display: block;
  width: 100%;
  height: 2em;
  padding: 1em 0.4em;
  margin: 1em 0;
  margin-bottom: 0;

  color: var(--login-theme-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--login-theme-color);

  background: var(--purple-color-l2);
  border: 0.15em solid var(--login-theme-color);
  outline: none;
  transition: 0.2s ease-in;
}

.user-field__input p input:focus {
  color: white;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
  background-color: var(--login-theme-color);
  box-shadow: inset 0 0 0.5em 0 var(--login-theme-color),
    0 0 0.5em 0 var(--login-theme-color);
}

.user-field__submit-btn {
  display: block;
  height: 2em;
  width: 60%;
  padding: 0.3em;
  margin-top: 2em;

  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;

  background: rgba(0, 0, 0, 0.5);
  border: var(--login-theme-color) solid 0.07em;
  border-radius: 4px;
  outline: none;

  transition: 0.2s ease-in;
}

.user-field__submit-btn:hover {
  background: var(--login-theme-color);
  box-shadow: inset 0 0 0.5em 0 var(--login-theme-color),
    0 0 0.5em 0 var(--login-theme-color);
}

.user-field__register,
.user-field__login {
  padding: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.user-field__register a,
.user-field__login a {
  transition: 0.2s ease-in;
}

.user-field__register a:hover,
.user-field__login a:hover {
  color: var(--pink-color-2);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 1.45em white;
}

/* Others */
.user-field__form .helptext,
.user-field__input > ul {
  display: block;
  font-size: 0.8em;
  line-height: 1.5;
}

.user-field__input > ul {
  width: 80%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.errorlist.nonfield,
.errorlist {
  display: block;
  margin: 0;
  padding: 1em !important;

  color: white;
  font-weight: 500;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
  list-style: none;
  background: var(--red-color-2);
  border-radius: 4px;
  box-shadow: inset 0 0 0.5em 0 var(--red-color-2),
    0 0 0.5em 0 var(--red-color-2);
}
